.metro section.ace_editor div, .metro section.ace_editor span {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
    font-weight: initial !important;
    font-style: initial !important;
}

.editor-container {
    margin-bottom: 15px;
}

.container-xs {
    height: 150px;
}

.container-small {
    height: 275px;
}

.container-medium {
    height: 425px;
}

.container-large {
    height: 550px;
}

.container-xl {
    height: 775px;
}

.editor {
    width: calc(50% - 5px);
    border: 1px solid black;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 15px;
}

.editor-full {
    width: 100%;
    border-radius: 4px;
}

.output {
    width: calc(50% - 5px);
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    height: 100%;
    background-color: #F2F2F2;
    flex-grow: 1;
}
